yt_summarize_video.json
{
  "name": "yt summarize video",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c9b67489-17d8-41c8-b527-4ccada7cb259",
              "leftValue": "={{ $json.isYouTubeLinkValid }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -112,
        368
      ],
      "id": "8add2c43-d32e-43e5-8d46-b9d4596c8707",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python_worker:5000/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-KEY",
              "value": "insert_key_here"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"script\": \"get_subs.py\",\n  \"args\": [\"https://www.youtube.com/watch?v={{ $('Link check regex').item.json.youtubeVideoId }}\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        560,
        400
      ],
      "id": "537dbb92-f654-4669-8f2e-ee243863d06a",
      "name": "POST python worker",
      "executeOnce": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://www.youtube.com/oembed?format=json&url={{ $json.message.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        192,
        352
      ],
      "id": "a84c553a-3d15-4e5f-9a2d-879b181814b2",
      "name": "GET youtube oembed",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Questa espressione regolare è progettata per catturare i formati comuni degli URL di YouTube.\n// Cerca di estrarre l'ID del video di 11 caratteri, ma per la validazione,\n// ci interessa solo se corrisponde al modello generale.\n// Le regex in JS non hanno bisogno di essere compilate esplicitamente come in Python\n// per un uso singolo come 'match()'.\nconst YOUTUBE_URL_REGEX = /^(?:https?:\\/\\/)?(?:www\\.)?(?:m\\.)?(?:youtube\\.com|youtu\\.be)\\/(?:watch\\?v=|embed\\/|v\\/|)([\\w-]{11})(?:\\S+)?$/;\n\n// La variabile 'items' contiene i dati in entrata dal nodo precedente (Telegram Trigger).\n// È una lista di oggetti, dove ogni oggetto tipicamente ha una chiave 'json'.\nfor (const item of items) {\n  // Ottieni in modo sicuro il testo del messaggio. Se una qualsiasi chiave è mancante,\n  // imposterà 'messageText' su undefined, evitando errori.\n  const messageText = item?.json?.message?.text;\n\n  let isYouTubeLinkValid = false;\n  let youtubeVideoId = null; // Opzionale: per memorizzare l'ID del video estratto\n\n  if (messageText) {\n    // Tenta di far corrispondere la regex al testo del messaggio.\n    // Il metodo 'match' restituisce un array di corrispondenze o null.\n    const match = messageText.match(YOUTUBE_URL_REGEX);\n\n    if (match) {\n      isYouTubeLinkValid = true;\n      // L'ID del video è tipicamente nel primo gruppo di cattura (match[1])\n      youtubeVideoId = match[1];\n    }\n  }\n\n  // Aggiungi il risultato della validazione e opzionalmente l'ID del video al JSON dell'elemento.\n  // Questo rende il risultato disponibile per i nodi successivi in n8n.\n  // Assicurati che 'item.json' esista prima di aggiungere proprietà.\n  if (!item.json) {\n    item.json = {};\n  }\n  item.json.isYouTubeLinkValid = isYouTubeLinkValid;\n  item.json.youtubeVideoId = youtubeVideoId; // Potrebbe essere utile in seguito!\n}\n\n// Restituisci la lista 'items' modificata.\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        144
      ],
      "id": "5ec03147-5105-46c0-8fd4-b43d497834e9",
      "name": "Link check regex"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.data.n8n_file_path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        832,
        320
      ],
      "id": "62943275-8dc8-4ecd-a726-a4588528b498",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "dataTXT",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1072,
        304
      ],
      "id": "dc4fd38a-5f3b-4cdb-8a53-a621f0c1cb1a",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Potresti riassumermi in italiano questa trascrizione di un video youtube?\nInoltre il riassunto deve essere lungo al MASSIMO 3900 caratteri e non scrivere quanti caratteri hai utilizzato, basta solo che rispetti questo requisito.\n\nTitolo: {{ $json.title }}\nTrascrizione:\n{{ $json.dataTXT }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1744,
        112
      ],
      "id": "f662aeeb-4aa8-4ac5-942c-1eca300a8f57",
      "name": "Message a model",
      "executeOnce": true,
      "credentials": {
        "googlePalmApi": {
          "id": "LB1mfhiXYsnfJF9o",
          "name": "Google gemini mio account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Receive message').item.json.message.chat.id }}",
        "text": "=Titolo: {{ $('GET youtube oembed').item.json.title }}\n\n{{ $json.text.join('\\n\\n')\n  .replace(/&/g, '&amp;')\n  .replace(/</g, '&lt;')\n  .replace(/>/g, '&gt;')\n  .replace(/\\*\\*(.*?)\\*\\*/g, '<b>$1</b>')\n  .replace(/\\*(.*?)\\*/g, '<i>$1</i>') \n}}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2480,
        224
      ],
      "id": "ead2eeda-2231-432b-b360-c0b89e6ed5f4",
      "name": "Send final response",
      "webhookId": "a7415df4-3e29-4eae-b71e-13360101581a",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "ynsYd70PKmOb5Bbl",
          "name": "yt summurize bot"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2256,
        -112
      ],
      "id": "64114178-183f-4c48-a4ec-b4ca0a44c96c",
      "name": "Merge final",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content.parts[0].text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2064,
        112
      ],
      "id": "7e2799b0-bd60-4086-9423-c9c56f98e052",
      "name": "extract text"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "title"
            },
            {
              "fieldToAggregate": "dataTXT"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1520,
        112
      ],
      "id": "4bedfaf9-6afc-40b6-915b-235bc7e3b2b7",
      "name": "Essentials data for gemini"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1344,
        112
      ],
      "id": "ca3edcf8-24b2-493f-b3c7-c5f952bda6d1",
      "name": "Merge pre AI",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -544,
        144
      ],
      "id": "473a401d-15ee-4b98-a28b-10c98aec715d",
      "name": "Receive message",
      "webhookId": "2904795c-b328-4b29-9e6f-8a4ac8476a06",
      "credentials": {
        "telegramApi": {
          "id": "ynsYd70PKmOb5Bbl",
          "name": "yt summurize bot"
        }
      }
    },
    {
      "parameters": {
        "command": "=rm  {{ $('POST python worker').item.json.data.n8n_file_path }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2688,
        224
      ],
      "id": "879b0066-025f-454b-853a-5ae6622b03ab",
      "name": "Delete transcription file"
    },
    {
      "parameters": {
        "chatId": "={{ $('Receive message').item.json.message.chat.id }}",
        "text": "=ERRORE: formato link di youtube non corretto",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -128,
        576
      ],
      "id": "cd40c74c-b86b-4914-85c2-204667280396",
      "name": "Send error regex",
      "webhookId": "a7415df4-3e29-4eae-b71e-13360101581a",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "ynsYd70PKmOb5Bbl",
          "name": "yt summurize bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Receive message').item.json.message.chat.id }}",
        "text": "=ERRORE: il video condiviso non è valido",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        272,
        576
      ],
      "id": "8fcd0269-8b35-40a2-bfc5-80fe70767b5a",
      "name": "Send error video not valid",
      "webhookId": "a7415df4-3e29-4eae-b71e-13360101581a",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "ynsYd70PKmOb5Bbl",
          "name": "yt summurize bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Iterates over all incoming items from the HTTP Request node\nreturn $input.all().map(item => {\n  const rawStdout = item.json.stdout;\n  let parsedData = {};\n\n  try {\n    // Converts the string stored in stdout into a real JSON object\n    parsedData = JSON.parse(rawStdout);\n  } catch (e) {\n    // Fallback if stdout is not valid JSON\n    parsedData = { \n      error: \"Could not parse JSON from stdout\", \n      raw_payload: rawStdout \n    };\n  }\n\n  // Returns the cleaned object with English attribute names\n  return {\n    json: {\n      status: item.json.status,\n      message: parsedData.message || null,\n      args: parsedData.received_args || [],\n      stderr: item.json.stderr, // Important for debugging yt-dlp logs\n      return_code: item.json.return_code\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -144
      ],
      "id": "561b36d6-734a-4cf9-9696-2ada782b7fe7",
      "name": "Response cleaning1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python_worker:5000/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-KEY",
              "value": "insert_key_here"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"script\": \"test_script.py\",\n  \"args\": [\"Mario\", \"Rossi\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        -144
      ],
      "id": "066b9819-6375-46ea-ab34-93326163d594",
      "name": "POST python worker test1",
      "executeOnce": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Receive message').item.json.message.chat.id }}",
        "text": "=ERRORE: errore con il download della trascrizione del video",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        816,
        576
      ],
      "id": "89d10ec8-c272-4ee6-a713-7a2dc452a73e",
      "name": "Send error yt-dlp transciption download",
      "webhookId": "a7415df4-3e29-4eae-b71e-13360101581a",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "ynsYd70PKmOb5Bbl",
          "name": "yt summurize bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "GET youtube oembed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send error regex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET youtube oembed": {
      "main": [
        [
          {
            "node": "POST python worker",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge pre AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send error video not valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Link check regex": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST python worker": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send error yt-dlp transciption download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge pre AI",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "extract text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send final response": {
      "main": [
        [
          {
            "node": "Delete transcription file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge final": {
      "main": [
        [
          {
            "node": "Send final response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract text": {
      "main": [
        [
          {
            "node": "Merge final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Essentials data for gemini": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge pre AI": {
      "main": [
        [
          {
            "node": "Essentials data for gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive message": {
      "main": [
        [
          {
            "node": "Link check regex",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge final",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "0b415149-8c58-44f8-8d53-9e0e8b5f2ed3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bf9456e50bd32f6ef0c53d2c77279d5231dc9e00f6ff2ca59605d2d9d67307c6"
  },
  "id": "i5cSlU-Ebl9d831Iynmi0",
  "tags": []
}