yt_summarize_video.json
{
  "name": "yt_summarize_video",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c9b67489-17d8-41c8-b527-4ccada7cb259",
              "leftValue": "={{ $json.isYouTubeLinkValid }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -560,
        512
      ],
      "id": "2894f651-cff0-40df-83a6-0b476312d6e7",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python_worker:5000/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-KEY",
              "value": "YOUR_PYTHON_WORKER_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"script\": \"get_subs.py\",\n  \"args\": [\"https://www.youtube.com/watch?v={{ $('Link check regex').item.json.youtubeVideoId }}\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        112,
        544
      ],
      "id": "a78400ae-b66a-4cc9-96f6-ff5d636fd7b1",
      "name": "POST python worker",
      "executeOnce": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://www.youtube.com/oembed?format=json&url={{ $json.message.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -256,
        496
      ],
      "id": "9fa4b5c8-83b8-431f-857e-4ca14fbb406d",
      "name": "GET youtube oembed",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Questa espressione regolare è progettata per catturare i formati comuni degli URL di YouTube.\n// Cerca di estrarre l'ID del video di 11 caratteri, ma per la validazione,\n// ci interessa solo se corrisponde al modello generale.\n// Le regex in JS non hanno bisogno di essere compilate esplicitamente come in Python\n// per un uso singolo come 'match()'.\nconst YOUTUBE_URL_REGEX = /^(?:https?:\\/\\/)?(?:www\\.)?(?:m\\.)?(?:youtube\\.com|youtu\\.be)\\/(?:watch\\?v=|embed\\/|v\\/|)([\\w-]{11})(?:\\S+)?$/;\n\n// La variabile 'items' contiene i dati in entrata dal nodo precedente (Telegram Trigger).\n// È una lista di oggetti, dove ogni oggetto tipicamente ha una chiave 'json'.\nfor (const item of items) {\n  // Ottieni in modo sicuro il testo del messaggio. Se una qualsiasi chiave è mancante,\n  // imposterà 'messageText' su undefined, evitando errori.\n  const messageText = item?.json?.message?.text;\n\n  let isYouTubeLinkValid = false;\n  let youtubeVideoId = null; // Opzionale: per memorizzare l'ID del video estratto\n\n  if (messageText) {\n    // Tenta di far corrispondere la regex al testo del messaggio.\n    // Il metodo 'match' restituisce un array di corrispondenze o null.\n    const match = messageText.match(YOUTUBE_URL_REGEX);\n\n    if (match) {\n      isYouTubeLinkValid = true;\n      // L'ID del video è tipicamente nel primo gruppo di cattura (match[1])\n      youtubeVideoId = match[1];\n    }\n  }\n\n  // Aggiungi il risultato della validazione e opzionalmente l'ID del video al JSON dell'elemento.\n  // Questo rende il risultato disponibile per i nodi successivi in n8n.\n  // Assicurati che 'item.json' esista prima di aggiungere proprietà.\n  if (!item.json) {\n    item.json = {};\n  }\n  item.json.isYouTubeLinkValid = isYouTubeLinkValid;\n  item.json.youtubeVideoId = youtubeVideoId; // Potrebbe essere utile in seguito!\n}\n\n// Restituisci la lista 'items' modificata.\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        288
      ],
      "id": "63baf5cf-9677-4118-b295-64c2056dda75",
      "name": "Link check regex"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.data.n8n_file_path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        384,
        464
      ],
      "id": "4235e99e-3d14-41fc-83e8-018faee086ad",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "dataTXT",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        624,
        448
      ],
      "id": "aa4d8b14-46ce-4977-9860-ee62b604a1dc",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Potresti riassumermi in italiano questa trascrizione di un video youtube?\nInoltre il riassunto deve essere lungo al MASSIMO 3900 caratteri e non scrivere quanti caratteri hai utilizzato, basta solo che rispetti questo requisito.\n\nTitolo: {{ $json.title }}\nTrascrizione:\n{{ $json.dataTXT }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1360,
        256
      ],
      "id": "def1efc0-68d7-4395-be8e-86d941d85773",
      "name": "Message a model",
      "executeOnce": true,
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GOOGLE_API_CREDENTIAL_ID",
          "name": "Google Gemini Credential"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Receive message').item.json.message.chat.id }}",
        "text": "=Titolo: {{ $('GET youtube oembed').item.json.title }}\n\n{{ $json.text.join('\\n\\n')\n  .replace(/&/g, '&amp;')\n  .replace(/</g, '&lt;')\n  .replace(/>/g, '&gt;')\n  .replace(/\\*\\*(.*?)\\*\\*/g, '<b>$1</b>')\n  .replace(/\\*(.*?)\\*/g, '<i>$1</i>') \n}}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2032,
        368
      ],
      "id": "36752ac9-ccfc-43a3-bdfd-e79a79ea1060",
      "name": "Send final response",
      "webhookId": "a7415df4-3e29-4eae-b71e-13360101581a",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_API_CREDENTIAL_ID",
          "name": "Telegram Bot Credential"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1840,
        32
      ],
      "id": "ef2f34ee-696c-4456-b55b-8b49914d35a7",
      "name": "Merge final",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content.parts[0].text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1648,
        256
      ],
      "id": "66990e99-8acf-4697-aaf2-c55fc47e5af8",
      "name": "extract text"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "title"
            },
            {
              "fieldToAggregate": "dataTXT"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1072,
        256
      ],
      "id": "865fdfd9-5af7-43ff-befc-eb34cbe54c04",
      "name": "Essentials data for gemini"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        896,
        256
      ],
      "id": "f162c120-95c9-41e3-b172-9abf1342ef7a",
      "name": "Merge pre AI",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -992,
        288
      ],
      "id": "4d3b4423-4cc5-4d9b-bbe0-9c768cbcf487",
      "name": "Receive message",
      "webhookId": "2904795c-b328-4b29-9e6f-8a4ac8476a06",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_API_CREDENTIAL_ID",
          "name": "Telegram Bot Credential"
        }
      }
    },
    {
      "parameters": {
        "command": "=rm  {{ $('POST python worker').item.json.data.n8n_file_path }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2240,
        368
      ],
      "id": "897d4101-c63f-408a-974a-336c09ed537e",
      "name": "Delete transcription file"
    },
    {
      "parameters": {
        "chatId": "={{ $('Receive message').item.json.message.chat.id }}",
        "text": "=ERRORE: formato link di youtube non corretto",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -576,
        720
      ],
      "id": "eaa672fb-58ed-4bb7-bd23-574f9598385b",
      "name": "Send error regex",
      "webhookId": "a7415df4-3e29-4eae-b71e-13360101581a",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_API_CREDENTIAL_ID",
          "name": "Telegram Bot Credential"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Receive message').item.json.message.chat.id }}",
        "text": "=ERRORE: il video condiviso non è valido",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -176,
        720
      ],
      "id": "aeeb1a51-2e3a-402e-a99f-7fb092272fcd",
      "name": "Send error video not valid",
      "webhookId": "a7415df4-3e29-4eae-b71e-13360101581a",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_API_CREDENTIAL_ID",
          "name": "Telegram Bot Credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Iterates over all incoming items from the HTTP Request node\nreturn $input.all().map(item => {\n  const rawStdout = item.json.stdout;\n  let parsedData = {};\n\n  try {\n    // Converts the string stored in stdout into a real JSON object\n    parsedData = JSON.parse(rawStdout);\n  } catch (e) {\n    // Fallback if stdout is not valid JSON\n    parsedData = { \n      error: \"Could not parse JSON from stdout\", \n      raw_payload: rawStdout \n    };\n  }\n\n  // Returns the cleaned object with English attribute names\n  return {\n    json: {\n      status: item.json.status,\n      message: parsedData.message || null,\n      args: parsedData.received_args || [],\n      stderr: item.json.stderr, // Important for debugging yt-dlp logs\n      return_code: item.json.return_code\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "d1c0ec4d-c911-4017-a678-6e9c29903554",
      "name": "Response cleaning1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python_worker:5000/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-KEY",
              "value": "YOUR_PYTHON_WORKER_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"script\": \"test_script.py\",\n  \"args\": [\"Mario\", \"Rossi\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        0
      ],
      "id": "5e17c9d0-6871-410f-8bc1-30bb0a0cb132",
      "name": "POST python worker test1",
      "executeOnce": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Receive message').item.json.message.chat.id }}",
        "text": "=ERRORE: errore con il download della trascrizione del video oppure ti sei dimenticato di inserire il token per la chiamata POST del python worker",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        688
      ],
      "id": "d5bad677-f642-40cf-bba5-5f2e867d12f3",
      "name": "Send error yt-dlp transciption download",
      "webhookId": "a7415df4-3e29-4eae-b71e-13360101581a",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_API_CREDENTIAL_ID",
          "name": "Telegram Bot Credential"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "Errore con il python worker"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        384,
        928
      ],
      "id": "1584ffb1-204a-47e5-96aa-1c3dc6e7483b",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1232,
        432
      ],
      "id": "89afc4da-4b32-4976-883e-871d6166b150",
      "name": "Wait",
      "webhookId": "9d03a7a8-bbb0-4983-a5b1-de58de5d0118"
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "GET youtube oembed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send error regex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET youtube oembed": {
      "main": [
        [
          {
            "node": "POST python worker",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge pre AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send error video not valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Link check regex": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST python worker": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send error yt-dlp transciption download",
            "type": "main",
            "index": 0
          },
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge pre AI",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "extract text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send final response": {
      "main": [
        [
          {
            "node": "Delete transcription file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge final": {
      "main": [
        [
          {
            "node": "Send final response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract text": {
      "main": [
        [
          {
            "node": "Merge final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Essentials data for gemini": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge pre AI": {
      "main": [
        [
          {
            "node": "Essentials data for gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive message": {
      "main": [
        [
          {
            "node": "Link check regex",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge final",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "8ffaa6bc-9510-474a-a815-a6d30eb3432d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3b97b21f911e43c870f4e3cb7b1de9fa375c3bc9dcbcf7519247122d76d3d3e5"
  },
  "id": "__yCP98t__f2ffBzYKCF7",
  "tags": []
}